 *{
    margin: 0;
    padding: 0;
}


                                  /*  Servey for css */

 .form{
    height: 1000px;
    width: 700px;
    background-color: rgb(178, 166, 187);
    margin: 10px auto;
    position: absolute;
    margin-left: 200px;
}.form2{
    height: 930px;
    width: 650px;
    background-color: rgb(67, 22, 102);
    margin: 10px auto;
    margin-top: 20px;
    position: absolute;
    margin-left: 30px;
}h4{
    color:#fff;
    font-size:15px;
}form{
    margin-left: 15px;
    margin-top: 10px;
    
}.box{
    height: 25px;
    width: 200px;
    background-color: rgb(204, 177, 177);
}.Select{
    height: 25px;
    width: 200px;

}select{
    height: 30px;
    width: 200px;
}button{
    text-align: center;
    height: 35px;
    width: 100px;
    background-color: rgb(57, 161, 16);
    margin-top: 10px;
    border-radius: 10px;
}textarea{
    height: 30px;
    width: 200px;
    background-color: rgb(228, 206, 206);
} 


